
.privateGrids { 
    width: 100%;
}
.private-info-input { 
    border-radius: 10px;
    outline: none;
    font-size: 17px;
    color: black;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    margin: 5px 0;
}
.closeModalViewPassword-1 { 
    width: 100%;
}
.text-center , .text-xl  { 
    text-align: center;
    width:100%;
  }
  .handleSaveChangesButtonPrivate { 
    background-color: rgb(60, 233, 74);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
  }