.meeting-container { 
    /* height: 100vh; */
    margin: 50px 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 100%;
}
.meeting-iframe { 
    border: none;
    display: block;
    max-width: 1000px;
    max-height: 650px;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: 1px solid #6aa3ff;
}