.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    place-items: center;
    margin: 15px 0;
}

.grid > div {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
  }
  .storePasswordsHeader { 
    margin: 10px 0;
  }
  .password-input { 
    padding: 10px;
    border-radius: 10px;
    outline: none;
    font-size: 17px;
    color: black;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
  }
  .password-item {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  
  .password-item:hover {
    background-color: #f0f0f0;
  }
  .passwordsGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    padding: 25px 0;
    position: relative;
  }

  .passwordItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    flex: 1 1 calc(50% - 5px); 
    max-width: calc(50% - 5px); 
  }
  
  .passwordButton {
    background-color: #474242; 
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    width: 120px; 
    text-align: center;
    text-align: center;
    border: 1px solid #474242;
  }
  
  .passwordButton:hover {
    background-color: #eeeeee;
    border: 1px solid #474242;
    color: #474242;
    transition: .3s ease-out;
  }
  
  .actionButtons {
    display: flex;
    gap: 10px;
  }
  .edit-delete-buttons { 
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 10px;
    width: 100%;
    justify-content: center;
  }
  .editButton, .deleteButton {
    padding: 10px 5px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 30px;
    background-color: #fff;
    position: relative;
  }
  .editButton svg, .deleteButton svg {
    width: 18px; /* Reduce the width */
    height: 18px; /* Reduce the height */
}
.editButton svg:hover, .deleteButton svg:hover { 
    transform: scale(1.1);
    transition: 0.3s linear;
}
.editButton svg { 
  color: rgb(104, 98, 204);
}
.deleteButton svg { 
  color: rgb(224, 73, 73);
  width: 20px;
  height: 20px;
}
  /* .editButton {
    background-color: #f1c40f; 
    color: white;
  }
  
  .editButton:hover {
    background-color: #f39c12;
  }
  
  .deleteButton {
    background-color: #e74c3c; 
    color: white;
  }
  
  .deleteButton:hover {
    background-color: #c0392b;
  } */
  .passwordWithActions {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .modal-content-password { 
    margin: 0;
    padding: 20px;
    /* border: 1px solid #474242; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
  }
  .modal-content-password h3 { 
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #474242;
    font-weight: 500;
  }
  .modal-content-password .modal-actions { 
    display: flex;
    align-items: center;
    column-gap: 5px;
    justify-content: center;
  }
  .modal-content-password .modal-actions .modal-actions-col { 
    padding: 20px 0;
  }
  .modal-content-password .modal-actions button { 
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  .modal-content-password .modal-actions .handleCloseModalButton { 
    background-color: rgb(209, 69, 69);
    color: #fff;
    border: white;
  }
  .modal-content-password .modal-actions .handleCloseModalButton::before { 
    content: "Reject Changes";
    position: absolute;
    right: 0;
    position: absolute;
    right: 65px;
    background-color: #474242;
    top: 112px;
    padding: 5px;
    border-radius: 5px;
    visibility: hidden;
  }
  .modal-content-password .modal-actions .handleCloseModalButton:hover { 
    background-color: rgb(120, 6, 6);
    color: #fff;
    transition: .3s ease-out;
  }
  .modal-content-password .modal-actions .handleCloseModalButton:hover::before { 
    visibility: visible;
  }
  .modal-content-password .modal-actions .handleCloseModalButton svg { 
    width: 15px;
    height: 15px;
  }
  .modal-content-password .modal-actions .handleSaveChangesButton { 
    background-color: rgb(60, 233, 74);
    color: #fff;
    border: white;
  }
  .modal-content-password .modal-actions .handleSaveChangesButton::before { 
    content: "Save Changes";
    position: absolute;
    right: 0;
    position: absolute;
    right: 122px;
    background-color: #474242;
    top: 112px;
    padding: 5px;
    border-radius: 5px;
    visibility: hidden;
  }
  .modal-content-password .modal-actions .handleSaveChangesButton:hover { 
    background-color: rgb(3, 163, 16);;
    color: #fff;
    transition: .3s ease-out;
  }
  .modal-content-password .modal-actions .handleSaveChangesButton:hover::before { 
    visibility: visible;
  }
  .modal-content-password .modal-actions .handleSaveChangesButton svg { 
    width: 15px;
    height: 15px;
  }
  .actions {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .save-password-button { 
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #ccc;
    color: #000;
    font-weight: 500;
    margin: 15px 0;
    border-radius: 3px;
    cursor: pointer;
  }
  .save-password-button:hover { 
    background-color: #ddd;
    transition: .4s cubic-bezier(0.215, 0.610, 0.355, 1);
  }
  
  .selected {
    border: 2px solid #ccc; 
    border-radius: 5px;
  }
  .viewPassword { 
    text-align: center;
    font-size: 17px;
    color: rgb(13, 12, 12);
    font-weight: 1000;
  }
  .closeModalViewPassword { 
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #ccc;
    color: #000;
    font-weight: 500;
    margin: 15px 0;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    width: 100px;
  }
  .closeModalViewPassword:hover { 
    background-color: #474242;
    color: #ddd;
    transition: .2s ease-in;
  }
  .confirmClose { 
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #ccc;
    color: #000;
    font-weight: 500;
    margin: 15px 0;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    width: 100px;
  }
  .confirmDelete { 
    padding: 10px;
    border: 1px solid #c02626;
    background-color: #c02626;
    color: #fff;
    font-weight: 500;
    margin: 15px 0;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    width: 100px;
  }

  @media (max-width: 768px) {
    .passwordsGrid { 
      flex-direction: column;
      width: 100%;
    }
    .passwordItem { 
      flex-basis: auto;
      max-width: none;
    }

  }