.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    place-items: center;
    margin: 15px 0;
}

.grid > div {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
  }
  .storePasswordsHeader { 
    margin: 10px 0;
  }
  .password-input { 
    padding: 10px;
    border-radius: 10px;
    outline: none;
    font-size: 17px;
    color: black;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
  }
  .password-item {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  
  .password-item:hover {
    background-color: #f0f0f0;
  }
  .passwordsGrid {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    padding: 25px 0;
    position: relative;
  }
  
  .passwordItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  
  .passwordButton {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%; 
    text-align: center;
  }
  
  .passwordButton:hover {
    background-color: #45a049;
  }
  
  .actionButtons {
    display: flex;
    gap: 10px;
  }
  
  .editButton, .deleteButton {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
  }
  .editButton svg, .deleteButton svg {
    width: 16px; /* Reduce the width */
    height: 16px; /* Reduce the height */
}
  
  /* .editButton {
    background-color: #f1c40f; 
    color: white;
  }
  
  .editButton:hover {
    background-color: #f39c12;
  }
  
  .deleteButton {
    background-color: #e74c3c; 
    color: white;
  }
  
  .deleteButton:hover {
    background-color: #c0392b;
  } */
  .passwordWithActions {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .actions {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .passwordButton {
    padding-right: 40px; /* Leave space for the buttons */
  }
  